DirectoryIndex /goit-markup-hw-01/index.html

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f

RewriteRule ^(.+) $1 [L]

RewriteCond %{DOCUMENT_ROOT}/goit-markup-hw-01%{REQUEST_URI} -f

RewriteRule ^(.+) /goit-markup-hw-01/$1 [L]